<html>
   <head>
        <title>Home</title>
        <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="../stylesheets/style.css">
   </head>
   <body>
      <div class="container">
        <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" href="#add" role="tab" data-toggle="tab" onclick="pageChange(event,'add')">Add Restaurant</a>
        <a class="nav-item nav-link active" href="#update" role="tab" data-toggle="tab" onclick="pageChange(event,'update')">Update Profile</a>
        <a class="nav-item nav-link" href="#contact" role="tab" data-toggle="tab" onclick="pageChange(event,'contactus')">Contact Us</a>
        <a class="nav-item nav-link" href="#signout" role="tab" data-toggle="tab" onclick="pageChange(event,'signout')">Sign Out</a>
        </nav>
        <br>
        <form name="updateProf" id="updateProf">
          <div class="form-group">
            <label for="First Name">First Name:</label>
            <input class="form-control" id="firstname" type="text" name="firstname" placeholder="First Name" required="" onblur="valInp('updateProf','firstname')">
          </div>
          <div class="form-group">
              <label for="Last Name">Last Name:</label>
              <input class="form-control" id="lastname" type="text" name="lastname" placeholder="Last Name" required="" onblur="valInp('updateProf','lastname')">
            </div>
          <div class="form-group">
              <label for="Age">Age:</label>
              <input class="form-control" id="age" type="number" name="age" placeholder="Age" required="" onblur="valInp('updateProf','age')">
            </div>
          <div class="form-group">
              <label for="Flat No.">Flat No:</label>
              <input class="form-control" id="flatno" type="number" name="flatno" placeholder="Flat Number" required="" onblur="valInp('updateProf','flatno')">
            </div>
          <div class="form-group">
              <label for="StreetName">Street Name:</label>
              <input class="form-control" id="streetName" type="text" name="streetName" placeholder="Street Name" required="" onblur="valInp('updateProf','streetName')">
            </div>
          <div class="form-group">
              <label for="Area">Area:</label>
              <input class="form-control" id="area" type="text" name="area" placeholder="Area" required="" onblur="valInp('updateProf','area')">
            </div>
          <div class="form-group">
            <label for="City">City:</label>
            <input class="form-control" id="city" type="text" name="city" placeholder="City" required="" onblur="valInp('updateProf','city')">
          </div>
          <div class="form-group">
              <label for="Pincode">Pincode:</label>
              <input class="form-control" id="pincode" type="number" name="pincode" placeholder="Pincode" required="" onblur="valInp('updateProf','pincode')">
            </div>
          <div class="form-group">
              <label for="State">State:</label>
              <input class="form-control" id="state" type="text" name="state" placeholder="State" required="" onblur="valInp('updateProf','state')">
            </div>
          <div class="form-group">
              <label for="Country">Country:</label>
              <input class="form-control" id="country" type="text" name="country" placeholder="Country" required="" onblur="valInp('updateProf','country')">
            </div>
          <div class="form-group">
              <label for="Email">Email:</label>
              <input class="form-control" id="email" type="email" name="email" placeholder="Email" onblur="valInp('updateProf','email')">
            </div>
          <div class="form-group">
              <label for="Username">Username:</label>
              <input class="form-control" id="username" type="text" name="username" placeholder="Username" required="" onblur="valInp('updateProf','username')">
            </div>
          <div class="form-group">
              <label for="Phone">Phone:</label>
              <input class="form-control" id="phone" type="tel" name="phone" placeholder="Phone Number" onblur="val_phone()">
            </div>
          <div class="form-group">
              <label for="Password">Password:</label>
              <input class="form-control" id="password" type="password" name="password" placeholder="Password" required="" onblur="valInp('updateProf','password')">
            </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
      <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase.js"></script>
      <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <script src="../javascripts/myScript.js"></script>
      <script src="../javascripts/home.js"></script>
  </body>
  </html>