head
  title Home
  link(type='text/css' rel='stylesheet' href='https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css')
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  link(rel='stylesheet' href='stylesheets/style.css')
.container
  nav.nav.nav-pills.nav-fill
    a.nav-item.nav-link.active(href='/add' role='tab' data-toggle='tab') Add Resteraunt
    a.nav-item.nav-link(href='/search' role='tab' data-toggle='tab') Search Resteraunt
    a.nav-item.nav-link(href='/edit' role='tab' data-toggle='tab') Edit Profile
  br
  div
    h2 Add Your Resteraunt Details
    form(name='restDet' action='' method='post')
      .form-group
        label(for='restName') Resteraunt Name:
        input#restName.form-control(type='text' name='restName' placeholder='Resteraunt Name' required='' onblur="valInp('restDet','restName')")
      .form-group
        label(for='restCity') City:
        input#restCity.form-control(type='text' name='restCity' placeholder='City' required='' onblur="valInp('restDet','restCity')")
      .form-group
        label(for='restArea') Area:
        input#restArea.form-control(type='text' name='restArea' placeholder='Area' required='' onblur="valInp('restDet','restArea')")
      .form-group
        label(for='restStreetName') Street Name:
        input#restStreetName.form-control(type='text' name='restStreetName' placeholder='Street Name' required='' onblur="valInp('restDet','restStreetName')")
      #map
      br
      .form-group
        label(for='rating') Current Rating:
        input#rating.form-control(type='number' name='rating' placeholder='Current rating' required='' onblur="valInp('restDet','rating')")
      .form-group
        label(for='restType') Resteraunt Type
        select#restType.form-control(name='restType')
          option cheap
          option moderate
          option costly
      .form-group
        label(for='stagEntry') Stag Entry
        select#stagEntry.form-control(name='stagEntry')
          option Yes
          option No
      .form-group
        label(for='restOpen') Resteraunt Open Info
        select#restOpen.form-control(name='restOpen')
          option Open Now
          option Closed
      h3 Hours:
      .form-group
        .row
          .col-md-1
          .col-md-2
            h4 Monday:
          .col-md-3
            input#monOp.form-control(type='time' name='monOp' required='')
          .col-md-3
            input#monCl.form-control(type='time' name='monCl' required='')
      .form-group
        .row
          .col-md-1
          .col-md-2
            h4 Tuesday:
          .col-md-3
            input#tueOp.form-control(type='time' name='tueOp' required='')
          .col-md-3
            input#tueCl.form-control(type='time' name='tueCl' required='')
      .form-group
        .row
          .col-md-1
          .col-md-2
            h4 Wednesday:
          .col-md-3
            input#wedOp.form-control(type='time' name='wedOp' required='')
          .col-md-3
            input#wedCl.form-control(type='time' name='wedCl' required='')
      .form-group
        .row
          .col-md-1
          .col-md-2
            h4 Thursday:
          .col-md-3
            input#thOp.form-control(type='time' name='thOp' required='')
          .col-md-3
            input#thCl.form-control(type='time' name='thCl' required='')
      .form-group
        .row
          .col-md-1
          .col-md-2
            h4 Friday:
          .col-md-3
            input#friOp.form-control(type='time' name='friOp' required='')
          .col-md-3
            input#friCl.form-control(type='time' name='friCl' required='')
      .form-group
        .row
          .col-md-1
          .col-md-2
            h4 Saturday:
          .col-md-3
            input#satOp.form-control(type='time' name='satOp' required='')
          .col-md-3
            input#satCl.form-control(type='time' name='satCl' required='')
      .form-group
        .row
          .col-md-1
          .col-md-2
            h4 Sunday:
          .col-md-3
            input#sunOp.form-control(type='time' name='sunOp' required='')
          .col-md-3
            input#sunCl.form-control(type='time' name='sunCl' required='')
      button.btn.btn-primary(type='submit') Submit     
script(src='https://www.gstatic.com/firebasejs/5.0.1/firebase.js')
script(src='https://www.gstatic.com/firebasejs/5.0.1/firebase-app.js')
script(src='https://www.gstatic.com/firebasejs/5.0.1/firebase-auth.js')
script(src='https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
script(src='javascripts/myScript.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBRIt05f_gxZGvC0HTPpjxGh0hsglgl2I4&callback=initMap' async='' defer='')
