  <html>
  <head>
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../stylesheets/devesh.css"/>
    <link type="text/css" rel="stylesheet" href="../stylesheets/devesh-theme.css"/>
    <link type="text/css" rel="stylesheet" href="../stylesheets/devslider.min.css"/>
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link type="text/css" rel="stylesheet" href="../stylesheets/search.css"/>
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">

  </head>
  <body >
      <header>
    <div id="header">
      <div class='container'>
          <br />
          <div class="row">
                  <!-- LOGO -->
          <div class="col-md-3">
              <div class="header-logo  ">
                  <a href="/" class="logo">
                      <img height ="120" width = "120" src="../images/logo.png" alt="MUFFITO">
                  </a>
              </div>
          </div>
      </div>
      </div>
      </div>
      </header>
      <nav id="navigation">
          <!-- container -->
          <div class="container">
              <!-- responsive-nav -->
              <div id="responsive-nav">
                  <!-- NAV -->
                  <ul class="main-nav nav navbar-nav">
                      <li><a  href="#search" role="tab" data-toggle="tab" onclick="pageChange(event,'search')">Search Restaurants</a></li>
                      <li><a  href="#add" role="tab" data-toggle="tab" onclick="pageChange(event,'add')">Add Restaurant</a></li>
                      <li><a  href="#update" role="tab" data-toggle="tab" onclick="pageChange(event,'update')">Update Profile</a></li>
                      <li><a  href="#contact" role="tab" data-toggle="tab" onclick="pageChange(event,'contactus')">Contact Us</a></li>  
                    </ul>
                    <ul class="nav main-nav navbar-nav navbar-right" id="userInfo">
                    </ul>
                  <!-- /NAV -->
              </div>
              <!-- /responsive-nav -->
          </div>
          <!-- /container -->
      </nav>
  <div class="container-reg">
    <!--
    <nav class="nav nav-pills nav-fill">
    <a class="nav-item nav-link active" href="#add" role="tab" data-toggle="tab" onclick="pageChange(event,'add')">Add Restaurant</a>
    <a class="nav-item nav-link" href="#update" role="tab" data-toggle="tab" onclick="pageChange(event,'update')">Update Profile</a>
    <a class="nav-item nav-link" href="#contact" role="tab" data-toggle="tab" onclick="pageChange(event,'contactus')">Contact Us</a>
    <a class="nav-item nav-link" href="#signout" role="tab" data-toggle="tab" onclick="pageChange(event,'signout')">Sign Out</a>
    </nav>
    -->
    <br />
	<div class="card wrapreg">
      <h2>Add Your Restaurant Details</h2>
       <div class="fullwidth">
		<form name="restDet" enctype='multipart/form-data' id="restDet">
		<div class="form-group">
          <label for="restName">Restaurant Name:</label>
          <input class="form-control" id="restName" type="text" name="restName" placeholder="Restaurant Name" required onblur="valInp('restDet','restName')">
        </div>
        <button class="btn btn-danger btn-block" id="curLoc">Use Current Location</button>
        <br />
        <label for='location'>Set Location of Restaurant:</label>
        <div id="map"></div>
        <br /></i>
        <label for="restCity">City:</label>
        <div class="form-group" id="pac-container">
            <input class="form-control" id="restCity" type="text" name="restCity" placeholder="City" required onblur="valInp('restDet','restCity')">
        </div>
        <div class="form-group">
            <label for="restArea">Area:</label>
            <input class="form-control" id="restArea" type="text" name="restArea" placeholder="Area" required onblur="valInp('restDet','restArea')">
        </div>
        <div class="form-group">
          <label for="restStreetName">Street Name:</label>
        <input class="form-control" id="restStreetName" type="text" name="restStreetName" placeholder="Street Name" required onblur="valInp('restDet','restStreetName')">
    </div>    
		<div class='form-group'>
          <label for='restImage'>Restaurant Images</label>
          <input type='file' class='form-control-file' name='' id='restImage' multiple name='restImage'>
          </div>
        <div class="form-group">
          <label for="rating">Current Rating:</label>
          <input class="form-control" id="rating" type="number" name="rating" placeholder="Current rating" required="" onblur="valInp('restDet','rating')">
        </div>
        <div class="form-group">
          <label for="restType">Restaurant Type</label>
          <select class="form-control" id="restType" name="restType">
            <option>cheap</option>
            <option>moderate</option>
            <option>costly</option>
          </select>
        </div>
        <div class="form-group">
          <label for="stagEntry">Stag Entry</label>
          <select class="form-control" id="stagEntry" name="stagEntry">
            <option>Yes</option>
            <option>No</option>
          </select>
        </div>
        <h4>Hours</h4>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <h4>Monday : </h4>
            </div>
            <div class="col-md-3">
              <input class="form-control" id="monOp" type="time" name="monOp" required="">
            </div>
            <div class="col-md-3">
              <input class="form-control" id="monCl" type="time" name="monCl" required="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <h4>Tuesday : </h4>
            </div>
            <div class="col-md-3">
              <input class="form-control" id="tueOp" type="time" name="tueOp" required="">
            </div>
            <div class="col-md-3">
              <input class="form-control" id="tueCl" type="time" name="tueCl" required="">
            </div>
          </div>
		  
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <h4>Wednesday:</h4>
            </div>
            <div class="col-md-3">
              <input class="form-control" id="wedOp" type="time" name="wedOp" required="">
            </div>
            <div class="col-md-3">
              <input class="form-control" id="wedCl" type="time" name="wedCl" required="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <h4>Thursday : </h4>
            </div>
            <div class="col-md-3">
              <input class="form-control" id="thOp" type="time" name="thOp" required="">
            </div>
            <div class="col-md-3">
              <input class="form-control" id="thCl" type="time" name="thCl" required="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <h4>Friday : </h4>
            </div>
            <div class="col-md-3">
              <input class="form-control" id="friOp" type="time" name="friOp" required="">
            </div>
            <div class="col-md-3">
              <input class="form-control" id="friCl" type="time" name="friCl" required="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <h4>Saturday :</h4>
            </div>
            <div class="col-md-3">
              <input class="form-control" id="satOp" type="time" name="satOp" required="">
            </div>
            <div class="col-md-3">
              <input class="form-control" id="satCl" type="time" name="satCl" required="">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-md-4">
              <h4>Sunday :</h4>
            </div>
            <div class="col-md-3">
              <input class="form-control" id="sunOp" type="time" name="sunOp" required="">
            </div>
            <div class="col-md-3">
              <input class="form-control" id="sunCl" type="time" name="sunCl" required="">
            </div>
          </div>
        </div>
        <button class="btn btn-primary btn-block" type="submit">Submit</button>
      </form>
	  		</div>

	</div>
  </div>
  
  
  <footer id="footer">
			
      <!-- bottom footer -->
      <div id="bottom-footer" class="section">
          <div class="container">
              <!-- row -->
              <div class="row">
                  <div class="col-md-12 text-center">
                      <span class="copyright">
                          © Muffito 2018. All Rights Reserved.| made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Muffito.
                      </span>
                  </div>
              </div>
                  <!-- /row -->
          </div>
          <!-- /container -->
      </div>
      <!-- /bottom footer -->
  </footer>

  <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="../javascripts/jquery.zoom.min.js"></script>
      <script src="../javascripts/myScript.js"></script>
      <script src="../javascripts/main.js"></script>
      <script src="../javascripts/home.js"></script>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBRIt05f_gxZGvC0HTPpjxGh0hsglgl2I4&libraries=places"></script>     
      <script src="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>

</body>
</html>