<html>
   <head>
        <title>Home</title>
        <link rel="dns-prefetch" href="https://www.gstatic.com/firebasejs/5.0.1">
        <link rel="prefetch" href="../javascripts/home.js">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="../stylesheets/devesh.css"/>
        <link type="text/css" rel="stylesheet" href="../stylesheets/devesh-theme.css"/>
        <link type="text/css" rel="stylesheet" href="../stylesheets/devslider.min.css"/>
        <link rel="shortcut icon" href="../images/favicon.ico">
        <link rel="stylesheet" href="../stylesheets/style.css">
        <link type="text/css" rel="stylesheet" href="../stylesheets/search.css"/>
   </head>
   <body>
      <header>
          <div id="header">
      <div class='container'>
          <br />
          <div class="row">
                  <!-- LOGO -->
          <div class="col-md-3">
              <div class="header-logo  ">
                  <a href="#" class="logo">
                      <img height ="120" width = "120" src="../images/logo.png" alt="MUFFITO">
                  </a>
              </div>
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-3">
            <button id="signout" class="btn btn-primary" onclick="signOut()">Sign Out</button>
          </div>
      </div>
      </div>
      </div>
      </header>
      <nav id="navigation">
          <!-- container -->
          <div class="container">
              <!-- responsive-nav -->
              <div id="responsive-nav">
                  <!-- NAV -->
                  <ul class="main-nav nav navbar-nav">
                      <li><a  href="#search" role="tab" data-toggle="tab" onclick="pageChange(event,'search')">Search Restaurants</a></li>
                      <li><a  href="#add" role="tab" data-toggle="tab" onclick="pageChange(event,'add')">Add Restaurant</a></li>
                      <li><a  href="#update" role="tab" data-toggle="tab" onclick="pageChange(event,'update')">Update Profile</a></li>
                      <li><a  href="#contact" role="tab" data-toggle="tab" onclick="pageChange(event,'contactus')">Contact Us</a></li>
                    </ul>
                  <!-- /NAV -->
              </div>
              <!-- /responsive-nav -->
          </div>
          <!-- /container -->
      </nav>
      <div class="container">
        <!--
        <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" href="#add" role="tab" data-toggle="tab" onclick="pageChange(event,'add')">Add Restaurant</a>
        <a class="nav-item nav-link active" href="#update" role="tab" data-toggle="tab" onclick="pageChange(event,'update')">Update Profile</a>
        <a class="nav-item nav-link" href="#contact" role="tab" data-toggle="tab" onclick="pageChange(event,'contactus')">Contact Us</a>
        <a class="nav-item nav-link" href="#signout" role="tab" data-toggle="tab" onclick="pageChange(event,'signout')">Sign Out</a>
        </nav>
        -->
        <br>
        <form name="updateProf" id="updateProf">
          <div class="form-group">
            <label for="First Name">First Name:</label>
            <input class="form-control" id="firstname" type="text" name="firstname" placeholder="First Name" required="" onblur="valInp('updateProf','firstname')">
          </div>
          <div class="form-group">
              <label for="Last Name">Last Name:</label>
              <input class="form-control" id="lastname" type="text" name="lastname" placeholder="Last Name" required="" onblur="valInp('updateProf','lastname')">
            </div>
            <div class="form-group">
                    <label for="dob">Date of Birth:</label>
                    <input class="form-control" id="dob" type="date" name="dob" placeholder="Date of Birth" required="" onblur="valInp('updateProf','dob')">
                </div>      
          <div class="form-group">
              <label for="Age">Age:</label>
              <input class="form-control" id="age" type="number" name="age" placeholder="Age" required="" onblur="valInp('updateProf','age')">
            </div>
          <div class="form-group">
              <label for="Flat No.">Flat No:</label>
              <input class="form-control" id="flatno" type="number" name="flatno" placeholder="Flat Number" required="" onblur="valInp('updateProf','flatno')">
            </div>
          <div class="form-group">
              <label for="StreetName">Street Name:</label>
              <input class="form-control" id="streetName" type="text" name="streetName" placeholder="Street Name" required="" onblur="valInp('updateProf','streetName')">
            </div>
          <div class="form-group">
              <label for="Area">Area:</label>
              <input class="form-control" id="area" type="text" name="area" placeholder="Area" required="" onblur="valInp('updateProf','area')">
            </div>
          <div class="form-group">
            <label for="City">City:</label>
            <input class="form-control" id="city" type="text" name="city" placeholder="City" required="" onblur="valInp('updateProf','city')">
          </div>
          <div class="form-group">
              <label for="Pincode">Pincode:</label>
              <input class="form-control" id="pincode" type="number" name="pincode" placeholder="Pincode" required="" onblur="valInp('updateProf','pincode')">
            </div>
          <div class="form-group">
              <label for="State">State:</label>
              <input class="form-control" id="state" type="text" name="state" placeholder="State" required="" onblur="valInp('updateProf','state')">
            </div>
          <div class="form-group">
              <label for="Country">Country:</label>
              <input class="form-control" id="country" type="text" name="country" placeholder="Country" required="" onblur="valInp('updateProf','country')">
            </div>
          <div class="form-group">
              <label for="Email">Email:</label>
              <input class="form-control" id="email" type="email" name="email" placeholder="Email" onblur="valInp('updateProf','email')">
            </div>
          <div class="form-group">
              <label for="Username">Username:</label>
              <input class="form-control" id="username" type="text" name="username" placeholder="Username" required="" onblur="valInp('updateProf','username')">
            </div>
          <div class="form-group">
              <label for="Phone">Phone:</label>
              <input class="form-control" id="phone" type="tel" name="phone" placeholder="Phone Number" onblur="val_phone()">
            </div>
          <div class="form-group">
              <label for="Password">Password:</label>
              <input class="form-control" id="password" type="password" name="password" placeholder="Password" required="" onblur="valInp('updateProf','password')">
            </div>
          <button class="btn btn-primary" type="submit">Submit</button>
        </form>
      </div>
      <footer id="footer">
          <!-- bottom footer -->
          <div id="bottom-footer" class="section">
              <div class="container">
                  <!-- row -->
                  <div class="row">
                      <div class="col-md-12 text-center">
                          <span class="copyright">
                              © Muffito 2018. All Rights Reserved.| made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Muffito.
                          </span>
                      </div>
                  </div>
                      <!-- /row -->
              </div>
              <!-- /container -->
          </div>
          <!-- /bottom footer -->
      </footer>
      <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="../javascripts/jquery.zoom.min.js"></script>
      <script src="../javascripts/myScript.js"></script>
      <script src="../javascripts/main.js"></script>
      <script src="../javascripts/home.js"></script>
  </body>
  </html>