<html>
<head>
        <title>Home</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="../stylesheets/devesh.css"/>
    <link type="text/css" rel="stylesheet" href="../stylesheets/devesh-theme.css"/>
    <link type="text/css" rel="stylesheet" href="../stylesheets/devslider.min.css"/>
    <link rel="shortcut icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <link type="text/css" rel="stylesheet" href="../stylesheets/search.css"/>
</head>
<body>
    <header>
        <div id="header">
    <div class='container'>
        <br />
        <div class="row">
                <!-- LOGO -->
        <div class="col-md-3">
            <div class="header-logo  ">
                <a href="#" class="logo">
                    <img height ="120" width = "120" src="../images/logo.png" alt="MUFFITO">
                </a>
            </div>
        </div>
        <div class="col-md-6"></div>
          <div class="col-md-3">
            <button id="signout" class="btn btn-primary" onclick="signOut()">Sign Out</button>
          </div>
    </div>
    </div>
    </div>
    </header>
    <br />
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li><a  href="#search" role="tab" data-toggle="tab" onclick="pageChange(event,'search')">Search Restaurants</a></li>
                    <li><a  href="#add" role="tab" data-toggle="tab" onclick="pageChange(event,'add')">Add Restaurant</a></li>
                    <li><a  href="#update" role="tab" data-toggle="tab" onclick="pageChange(event,'update')">Update Profile</a></li>
                    <li><a  href="#contact" role="tab" data-toggle="tab" onclick="pageChange(event,'contactus')">Contact Us</a></li>
                  </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
      <div class="container">
        <!--
        <nav class="nav nav-pills nav-fill">
        <a class="nav-item nav-link" href="#add" role="tab" data-toggle="tab" onclick="pageChange(event,'add')">Add Restaurant</a>
        <a class="nav-item nav-link" href="#update" role="tab" data-toggle="tab" onclick="pageChange(event,'update')">Update Profile</a>
        <a class="nav-item nav-link active" href="#contact" role="tab" data-toggle="tab" onclick="pageChange(event,'contactus')">Contact Us</a>
        <a class="nav-item nav-link" href="#signout" role="tab" data-toggle="tab" onclick="pageChange(event,'signout')">Sign Out</a>
        -->
       </nav>
        <br />
        <form name="contactus" id="contactus">
            <h2 id="contHead">Contact Us:</h2>
            <div class="form-group">
              <label for="name">Name:</label>
              <input class="form-control" id="name" type="text" name="name" placeholder="Your Name" required onblur="valInp('contactus','name')">
            </div>
            <div class="form-group">
                <label for="state">Email Address:</label>
                <input class="form-control" id="email" type="email" name="email" placeholder="Email" required="" onblur="valInp('contactus','email')">
            </div>
            <div class="form-group">
              <label for="subject">Subject</label>
              <input class="form-control" id="subject" type="text" name="subject" placeholder="Subject" required onblur="valInp('contactus','subject')">
            </div>
            <div class="form-group">
                <label for="message">Message</label>
                <textarea class="form-control" id="message" name="message" rows="5" onblur="valInp('contactus','message')"></textarea>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
        <div id="snackbar">Message Sent Successfully</div>
      </div>
      <footer id="footer">
			
          <!-- bottom footer -->
          <div id="bottom-footer" class="section">
              <div class="container">
                  <!-- row -->
                  <div class="row">
                      <div class="col-md-12 text-center">
                          <span class="copyright">
                              © Muffito 2018. All Rights Reserved.| made with <i class="fa fa-heart-o" aria-hidden="true"></i> by Muffito.
                          </span>
                      </div>
                  </div>
                      <!-- /row -->
              </div>
              <!-- /container -->
          </div>
          <!-- /bottom footer -->
      </footer>
      <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      <script src="../javascripts/jquery.zoom.min.js"></script>
      <script src="../javascripts/myScript.js"></script>
      <script src="../javascripts/main.js"></script>
      <script src="../javascripts/home.js"></script>
</body>
</html>