<html>
<head>
    <title>Registration</title>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
  <div class="container">
    <div class="tab">
      <button class="tablinks active" onclick="tabChange(event, 'email')">Email</button>
      <button class="tablinks" onclick="tabChange(event, 'phone')">Phone</button>
    </div><br>
    <form name="register" id="register">
      <h2 id="regWithEmail">Register with Email:</h2>
      <h2 id="regWithPhone">Register with Phone:</h2>
      <div class="form-group">
        <label for="firstname">First Name:</label>
        <input class="form-control" id="firstname" type="text" name="firstname" placeholder="First Name" required="" onblur="valInp('register','firstname')">
      </div>
      <div class="form-group">
        <label for="lastname">Last Name:</label>
        <input class="form-control" id="lastname" type="text" name="lastname" placeholder="Last Name" required="" onblur="valInp('register','lastname')">
      </div>
      <div class="form-group">
        <label for="age">Age:</label>
        <input class="form-control" id="age" type="number" name="age" placeholder="Age" required="" onblur="valInp('register','age')">
      </div>
      <div class="form-group">
        <label for="flatno">Flat Number:</label>
        <input class="form-control" id="flatno" type="number" name="flatno" placeholder="Flat Number" required="" onblur="valInp('register','flatno')">
      </div>
      <div class="form-group">
        <label for="streetName">Street Name:</label>
        <input class="form-control" id="streetName" type="text" name="streetName" placeholder="Street Name" required="" onblur="valInp('register','streetName')">
      </div>
      <div class="form-group">
        <label for="area">Area:</label>
        <input class="form-control" id="area" type="text" name="area" placeholder="Area" required="" onblur="valInp('register','area')">
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <input class="form-control" id="city" type="text" name="city" placeholder="City" required="" onblur="valInp('register','city')">
      </div>
      <div class="form-group">
        <label for="pincode">Pincode:</label>
        <input class="form-control" id="pincode" type="number" name="pincode" placeholder="Pincode" required="" onblur="valInp('register','pincode')">
      </div>
      <div class="form-group">
        <label for="dob">Date of Birth:</label>
        <input class="form-control" id="dob" type="date" name="dob" placeholder="Date of Birth" required="" onblur="valInp('register','dob')">
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input class="form-control" id="state" type="text" name="state" placeholder="State" required="" onblur="valInp('register','state')">
      </div>
      <div class="form-group">
        <label for="country">Country:</label>
        <input class="form-control" id="country" type="text" name="country" placeholder="Country" required="" onblur="valInp('register','country')">
      </div>
      <div class="form-group" id="em">
        <label for="state">Email Address:</label>
        <input class="form-control" id="email" type="email" name="email" placeholder="Email" required="" onblur="valInp('register','email')">
      </div>
      <div class="form-group">
        <label for="username">Username:</label>
        <input class="form-control" id="username" type="text" name="username" placeholder="Username" required="" onblur="valInp('register','username')">
      </div>
      <div class="form-group" id="ph">
        <label for="phone">Phone Number:</label>
        <input class="form-control" id="phone" type="tel" name="phone" placeholder="Phone Number" onblur="val_phone()">
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input class="form-control" id="password" type="password" name="password" placeholder="Password" required="" onblur="valInp('register','password')">
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
  <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase.js"></script>
  <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="javascripts/myScript.js"></script>
  <script src="javascripts/register.js"></script>
</body>
  </html>