<!DOCTYPE html>
<html>
    <head>
        <title>OTP</title>
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href="../stylesheets/devesh.css"/>
        <link type="text/css" rel="stylesheet" href="../stylesheets/devesh-theme.css"/>
        <link type="text/css" rel="stylesheet" href="../stylesheets/devslider.min.css"/>
        <link rel="shortcut icon" href="../images/favicon.ico">
        <link rel="stylesheet" href="../stylesheets/style.css">
        <link type="text/css" rel="stylesheet" href="../stylesheets/search.css"/>        
    </head>
    <body>       
            <header>
                    <div id="header">
                <div class='container'>
                    <br />
                    <div class="row">
                            <!-- LOGO -->
                    <div class="col-md-3 ">
                        <div class="header-logo ">
                            <a href="#" class="logo">
                                <img height ="120" width = "120" src="../images/logo.png" alt="MUFFITO">
                            </a>
                        </div>
                    </div>
                </div>
                </div>
                </div>
                </header>    
            <div class='container-reg'>
                    <div class="card wrapreg">
                            <div class="fullwidth">
            <div id="phone-reset-recaptcha"></div>
                    <div class='form-group'>
                            <label for='otp'>Enter OTP:</label>
                            <input type='text' class='form-control' id='reset_otp' name='reset_otp' placeholder='Enter OTP' required>
                    </div>
                    <button id='otp_submit' type='submit' class='btn btn-primary'>Submit</button>
            </div>
            </div>
            </div>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
            <script src="../javascripts/jquery.zoom.min.js"></script>        
            <script src="https://www.gstatic.com/firebasejs/5.0.1/firebase.js"></script>
            <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous'></script>
            <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
            <script src="../javascripts/myScript.js"></script>        
            <script src="../javascripts/reset.js"></script>    
    </body>
</html>


